.ativo {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 1;

    pointer-events: all;
    opacity: 1;
    transition: all 0.3;
    cursor: default;


    display: flex;
    align-items: center;
    justify-content: center;

    .closeIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .containerPopup {
        transition: .3s;
        width: 757px;
        height: 471px;
        background: #F2F5FF;
        border-radius: 10px;

        animation: animationPopup .6s ease-in-out forwards;
        padding: 34px 46px;

    }

    @keyframes animationPopup {
        0% {
            width: 757px;
            transform: scale(0.5)
        }

        70% {
            transform: scale(1.2)
        }

        100% {
            transform: scale(1)
        }
    }

    .popupDadosAluno {
        display: flex;
        justify-content: space-between;
    }


    .h2Popup {
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;

        letter-spacing: 0.02em;

        color: #277FFE;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    .pAtividades {
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: 0.02em;

        color: #5C5C5C;
        text-transform: uppercase;
        margin-bottom: 16px;

    }

    .itemPopup {
        background: #E9E9E9;
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: 0.02em;

        color: #808080;
        margin: 3px 0;

        height: 30px;
    }

    .titlePopupItens {
        background: #277FFE;
        border-radius: 4px 4px 0px 0px;
        color: #fff;

        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;

        text-align: center;
    }

    .dataPopup {
        width: 123px;

        p {
            width: 123px;
            line-height: 31px;
        }
    }


    .temaAtividade {
        width: 251px;
    }

}

.desativo {
    pointer-events: none;
    opacity: 0;
    position: fixed;
}

@media(max-width:838px) {
    div.ativo {
        width: 100% !important;

        .containerPopup {
            overflow-x: hidden;
            margin-left: 20px;
            margin-right: 20px !important;

            padding-left: 10px;
            padding-right: 10px;
            height: auto;
            padding-bottom: 70px;
            padding-top: 40px;
        }

        .popupDadosAluno {
            width: 700px;
            overflow-x: scroll;
        }

        .temaAtividade {
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;
        }


        .h2Popup {

            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 0px;
        }

        .pAtividades {

            font-weight: 500;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 0.02em;
            text-align: center;

        }

        .scrollMobile {
            overflow-x: scroll;
        }
    }
}