.titleSection {
    display: flex;
    align-items: center;
    padding-bottom: 50px;

    h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 54px;
        /* identical to box height */

        letter-spacing: 5px;

        color: #5C5C5C;
        margin-left: 8px;

    }
}


@media(max-width: 768px) {
    .titleSection {
        h1 {
            font-size: 1.214rem;
            line-height: 29px;
            /* identical to box height */

            letter-spacing: 2.69784px;

            color: #5C5C5C;
        }
    }

}