.link {
    width: 126px;
    height: 40px;

    background: #277FFE;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    color: #fff;
    transition: all 0.3s;
    
    &:hover{
        background: #004ebb;
    }
}