.maxContainer {
    width: 1084px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.teste {
    min-height: 100vh;
    background: #F2F5FF;
}



.section {
    padding-top: 63px;
    padding-bottom: 78px;
}

.infosForAlunos {
    display: flex;
    max-width: 532px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardInfos {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 19px;
    width: 256px;
    height: 212px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 16px;

    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #5C5C5C;
    }

    transition: .3s;

    svg {
        font-size: 5.5rem;
        fill: #277FFE;
        margin-bottom: 16px;
    }

    &:hover {
        background: #277FFE;

        p {
            color: #fff;
        }

        svg {
            fill: #fff;
        }
    }
}

@media(max-width: 1107px) {
    .logoutHeader {
        width: 100%;
        padding-right: 20px;
    }

    .maxContainer {
        width: 100%;
    }

    .imagemDesk {
        display: none;
    }

    .infosForAlunos {
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
    }
}

@media(max-width:809px) {
    .infosForAlunos {
        justify-content: center;

        div {
            margin: 10px;

            a {
                margin-bottom: 0px;
            }
        }
    }

    .header{
        padding-top:158px;
    }
}

@media(max-width:518px) {
    .titlePage {
        h1 {
            font-size: 2.299rem;
            line-height: 55px;

        }

        p {
            font-size: 0.985rem;
            line-height: 24px;
        }
    }
}